@model CategoryUpdateRequest
@{
	ViewBag.Title = "Edit Category";
}

<div class="content">
	<h4 class="text-dark-primary text-center">Edit Category <i class="bi bi-pencil-square"></i></h4>
	<div class="row text-center mt-2">
		<div class="col-6 offset-3">
			<form method="post">
				<!-- Id -->
				<input asp-for="Id" hidden />
				<!-- Name -->
				<div class="form-floating">
					<input asp-for="Name" class="form-control text-center" placeholder="" />
					<label asp-for="Name" class="text-center"></label>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<!-- Buttons -->
				<div class="mt-4 row d-flex justify-content-center">
					<button type="submit" class="btn btn-primary btn-menu">Update</button>
					<a onclick="Delete('/categories/delete/@Model.Id')" class="btn btn-danger btn-menu">Delete Category</a>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				</div>
			</form>
		</div>
	</div>

	<div class="mt-11">
		<a asp-action="Index" class="btn-link"><i class="bi bi-arrow-left"></i> Back to List...</a>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/category_delete.js"></script>
}