@{
	ViewBag.Title = "Orders";

	Dictionary<string, string> buttonDictionary = new()
	{
		{"In Process", OrderStatus.Processing.ToString() },
		{"Payment Pending", PaymentStatus.Pending.ToString() },
		{"Completed", OrderStatus.Shipped.ToString() },
		{"Approved", OrderStatus.Approved.ToString() },
		{"All", "All" },
	};
}

<breadcrumb></breadcrumb>

<div class="row content-lg">
	<header class="header text-center">
		<h2 class="text-dark-primary fs-7">Order History <i class="bi bi-clipboard-minus"></i></h2>
	</header>
	<div class="col-12 mt-4">
		<!-- Button Group -->
		<nav class="d-flex justify-content-end">
			<div class="btn-group">
				@foreach (var (name, status) in buttonDictionary)
				{
					@await Html.PartialAsync("_StatusButtonPartial", new ViewDataDictionary(ViewData) { { "Name", name }, { "Status", status } })
				}
			</div>
		</nav>

		<!-- Data Table -->
		<table id="dataTable" class="table table-bordered table-hover mt-3">
			<thead>
				<tr>
					<th class="bg-primary text-white">ID</th>
					<th class="text-center bg-primary text-white align-middle">Name</th>
					<th class="text-center bg-primary text-white align-middle">Phone Number</th>
					<th class="text-center bg-primary text-white align-middle">Email</th>
					<th class="text-center bg-primary text-white align-middle">Address</th>
					<th class="text-center bg-primary text-white align-middle">Status</th>
					<th class="text-center bg-primary text-white align-middle">Order Date</th>
					<th class="text-center bg-primary text-white align-middle">Total Price</th>
					<th class="text-center bg-primary text-white align-middle">Options</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/order_datatable.js"></script>
}
