@model OrderSummaryResponse
@{
	ViewBag.Title = "Complete Payment";
}

<section class="row content">
	<div class="col-4 offset-4 text-center border border-light-gray rounded shadow-md p-5">
		<h4 class="text-dark-primary">Complete your order <i class="bi bi-wallet2"></i></h4>
		<div class="mt-4">
			<strong>Amount to pay:</strong>
			<input asp-for="TotalPrice" id="totalAmount" class="border-0 fs-8 text-dark-green fw-bold text-center" readonly />
		</div>
		<div class="mt-4">
			<div id="notification-container"></div>
			<div id="paypal-button-container"></div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="https://www.paypal.com/sdk/js?client-id=@(ViewBag.ClientID)&currency=USD"></script>
	<script src="~/js/paypal.js"></script>
}
