@model OrderSummaryResponse
@{
	ViewBag.Title = "Complete Payment";
}

<div class="row content">
	<div class="col-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4 mx-auto text-center border border-light-gray rounded shadow-md p-5" role="region">
		<header class="header text-center" aria-labelledby="order-header">
			<h2 id="order-header" class="text-dark-primary fs-7">Complete your order <i class="bi bi-wallet2"></i></h2>
		</header>
		<div class="mt-4">
			<strong>Amount to pay:</strong>
			<input asp-for="TotalPrice" id="totalAmount" class="form-control border-0 fs-8 text-dark-green fw-bold text-center" readonly
				   aria-label="Total amount to pay" aria-describedby="order-header" />
		</div>
		<div class="mt-4">
			<div id="notification-container" role="alert" aria-live="polite"></div>
			<div id="paypal-button-container"></div>
		</div>
	</div>
	<!-- Account Information Note -->
	<div class="col-9 mx-auto mt-4">
		<div class="col-9 mx-auto alert alert-success" role="alert">
			<h4 class="alert-heading">Simulating a successful payment:</h4>
			<p>
				Click the following link to generate PayPal credit card details:
				<a href="https://developer.paypal.com/tools/sandbox/card-testing/" target="_blank">
					https://developer.paypal.com/tools/sandbox/card-testing/
				</a>
			</p>
			<p>
				<div>
					Or use the following sandbox account:
				</div>
				<div>
					Username: <code>sb-s40xa33413505@personal.example.com</code>
				</div>
				<div>
					Password: <code>Gx#8dLpM4eBnR9!</code>
				</div>
			</p>
		</div>
	</div>
	<span class="">@Html.AntiForgeryToken()</span>
</div>

@section Scripts {
	<script src="https://www.paypal.com/sdk/js?client-id=@(ViewBag.ClientID)&currency=USD"></script>
	<script src="~/js/paypal.js"></script>
}
