@model OrderHeaderResponse
@{
	ViewBag.Title = "Order Confirmed!";
}

<section class="row content-lg">
	<h4 class="text-dark-primary text-center">Thank you for purchasing!</h4>
	<div class="col-8 offset-2 text-center mt-4">
		<p>Your order number: <strong class="text-orange">@Model.Id</strong></p>
		<div class="mx-auto">
			<img src="~/images/orderconfirm.jpg" class="w-50 rounded" />
		</div>
		<div class="mt-3">
			<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
		</div>
	</div>
</section>
