@{
	ViewBag.Title = "Users";
}

<div class="row content-lg">
	<h4 class="text-dark-primary text-center">User Accounts <i class="bi bi-people"></i></h4>
	<div class="col-12">
		<!-- Data Table -->
		<table id="dataTable" class="table table-bordered table-hover mt-3">
			<thead>
				<tr>
					<th class="text-center bg-primary text-white">Name</th>
					<th class="text-center bg-primary text-white">Email</th>
					<th class="text-center bg-primary text-white">Address</th>
					<th class="text-center bg-primary text-white">Phone Number</th>
					<th class="text-center bg-primary text-white">Role</th>
					<th class="text-center bg-primary text-white">Options</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/user_datatable.js"></script>
}