html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root, [data-bs-theme=light] {
    --bs-primary-rgb: 182, 129, 88;
    --bs-light-primary-rgb: 255, 180, 123;
    --bs-dark-primary-rgb: 123, 98, 79;
    --bs-dark-primary-rgb: 123, 98, 79;
    --bs-secondary-rgb: 81, 156, 138;
    --bs-danger-rgb: 155, 96, 97;
    --custom-light-gray: #99a0ad83;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body::before {
        content: "XS";
        color: red;
        font-size: 2rem;
        font-weight: bold;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5
    }

.content {
    padding-top: 10vh !important;
}

.content-lg {
    padding-top: 3rem !important;
}

.btn {
    border-radius: var(--bs-border-radius-pill);
}

.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-info, .btn-outline-primary {
    text-transform: uppercase
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #8a6f5bff;
}

.btn-close-white {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(93,135,255,0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 7px;
    opacity: var(--bs-btn-close-opacity)
}

.btn-delete {
    opacity: 1;
    position: absolute;
    top: -6px;
    right: 6px;
    border-radius: 50%;
    width: .5em;
    height: .5em;
    padding: .6em;
    background: #c81a1a url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    background-size: .65em auto
}

.btn-delete:hover{
    opacity: 0.8
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
    opacity: 0.9;
    left: 50%;
    top: 30%;
    transform: scale(0.85) translate(-50%, -50%);
}

.form-floating {
    color: #99a0add0
}

.form-label-muted {
    color: #99a0add0;
    font-size: 0.875em
}

/* Media Query */
@media (min-width: 576px) {
    body::before {
        content: "SM";
    }

    .text-lg-body {
        color: rgba(var(--bs-dark-rgb))
    }

    .text-logout {
        color: rgba(var(--bs-danger-rgb))
    }

        .text-logout:hover {
            color: #d5745b;
        }
}

@media (min-width: 768px) {
    body::before {
        content: "MD";
    }
}

@media (min-width: 992px) {
    body::before {
        content: "LG";
    }

    .text-lg-body {
        color: rgba(var(--bs-body-color-rgb))
    }

    .text-logout {
        color: rgba(var(--bs-body-color-rgb))
    }

    .w-lg-100 {
        width: 100% !important
    }
}

@media (min-width: 1200px) {
    body::before {
        content: "XL";
    }

    .img-sidebar {
        height: 3vw;
        width: auto;
        object-fit: cover;
    }
}

@media (min-width: 1400px) {
    body::before {
        content: "XXL";
    }
}

/* Animations */

.dropdown-anim {
    position: absolute;
    top: -1000px;
    animation: dropdown 0.5s ease-in-out 1s forwards;
}

@keyframes dropdown {
    0% {
        top: 50px;
    }

    80% {
        top: 80px;
    }

    100% {
        top: 70px;
    }
}

/* Custom Bootstrap Colors */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #B68158;
    --bs-btn-border-color: #B68158;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b68158d0;
    --bs-btn-hover-border-color: #b68158d0;
    --bs-btn-focus-shadow-rgb: 117,153,255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8f6647;
    --bs-btn-active-border-color: #8f6647;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8a6f5bff;
    --bs-btn-disabled-border-color: #8a6f5bff;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #34C759;
    --bs-btn-border-color: #34C759;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #34c759cd;
    --bs-btn-hover-border-color: #34c759cd;
    --bs-btn-focus-shadow-rgb: 54,227,196;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2ea44c;
    --bs-btn-active-border-color: #2ea44c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #23803a;
    --bs-btn-disabled-border-color: #23803a;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8B4545;
    --bs-btn-border-color: #8B4545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8b4545d9;
    --bs-btn-hover-border-color: #8b4545d9;
    --bs-btn-focus-shadow-rgb: 117,153,255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #653131ff;
    --bs-btn-active-border-color: #653131ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4e2626ff;
    --bs-btn-disabled-border-color: #4e2626ff;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #519C8A;
    --bs-btn-border-color: #519C8A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #519c8ae1;
    --bs-btn-hover-border-color: #519c8ae1;
    --bs-btn-focus-shadow-rgb: 117,153,255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #478677;
    --bs-btn-active-border-color: #478677;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #37675b;
    --bs-btn-disabled-border-color: #37675b;
}

.btn-outline-primary {
    --bs-btn-color: #B68158;
    --bs-btn-border-color: #B68158;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b68158d0;
    --bs-btn-hover-border-color: #b68158d0;
    --bs-btn-focus-shadow-rgb: 93,135,255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8f6647;
    --bs-btn-active-border-color: #8f6647;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #8a6f5bff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8a6f5bff;
    --bs-gradient: none
}

.btn-outline-secondary {
    --bs-btn-color: #519C8A;
    --bs-btn-border-color: #519C8A;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #519c8ae1;
    --bs-btn-hover-border-color: #519c8ae1;
    --bs-btn-focus-shadow-rgb: 93,135,255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #478677;
    --bs-btn-active-border-color: #478677;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #37675b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #37675b;
    --bs-gradient: none
}

.btn-menu {
    width: 30%;
    margin-right: .75rem;
    margin-left: .75rem;
}

.border-light-gray {
    --bs-border-opacity: 1;
    border-color: var(--custom-light-gray) !important
}

.pagination {
    --bs-pagination-active-bg: #519C8A;
    --bs-pagination-active-border-color: #519C8A;
    --bs-pagination-color: #519c8ae1;
    --bs-pagination-hover-color: #519c8ae1;
    --bs-pagination-focus-color: #37675b;
}

.card {
    --bs-card-bg: #fff;
    --bs-card-box-shadow: var(--custom-light-gray) 2px 3px 7px 2px
}

.card-header {
    background-color: #fff;
}

.card-img-top {
    height: 12.5vw;
    object-fit: cover;
}

.p-card-text {
    padding-right: 2rem;
    padding-left: 2rem
}

.list-group {
    --bs-list-group-border-color: var(--custom-light-gray);
}

.form-control {
    border: var(--bs-border-width) solid var(--custom-light-gray);
}

.table {
    --bs-table-border-color: #99a0ad4d;
    border-color: var(--bs-table-border-color)
}

.dropdown-divider {
    width: 84%;
    margin: var(--bs-dropdown-divider-margin-y) auto;
    border-top: 1px solid var(--custom-light-gray);
}



.color-option {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

    .color-option.bg-white {
        border: 1px solid #858585;
    }

input[type="checkbox"]:checked + .color-option,
input[type="radio"]:checked + .color-option {
    border: 2px solid #7d1a1a;
}

.bg-yellow {
    background-color: var(--bs-yellow);
}

.bg-green {
    background-color: var(--bs-green);
}

.bg-blue {
    background-color: var(--bs-blue);
}

.bg-pink {
    background-color: var(--bs-pink);
}

.bg-black {
    background-color: var(--bs-black);
}

.bg-white {
    background-color: var(--bs-white);
}

.bg-red {
    background-color: var(--bs-red);
}

.bg-gray {
    background-color: var(--bs-gray);
}

.bg-purple {
    background-color: var(--bs-purple);
}

.bg-orange {
    background-color: var(--bs-orange);
}

.text-yellow {
    color: var(--bs-yellow);
}

.text-green {
    color: var(--bs-green);
}

.text-dark-green {
    color: #34C759
}

.text-blue {
    color: var(--bs-blue);
}

.text-pink {
    color: var(--bs-pink);
}

.text-black {
    color: var(--bs-black);
}

.text-white {
    color: var(--bs-white);
}

.text-red {
    color: var(--bs-red);
}

.text-gray {
    color: var(--bs-gray);
}

.text-purple {
    color: var(--bs-purple);
}

.text-orange {
    color: var(--bs-orange);
}

.text-dark-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-primary-rgb),var(--bs-text-opacity)) !important
}

.text-heading {
    color: var(--bs-heading-color)
}


.bg-dark-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-primary-rgb),var(--bs-bg-opacity)) !important
}

.bg-checkout {
    background-image: url(/images/pattern.png);
    background-size: cover;
    background-position: center
}

.badge-sm {
    --bs-badge-padding-x: 6px;
    --bs-badge-padding-y: 5px;
    --bs-badge-font-size: 0.75rem;
    --bs-badge-font-weight: 400;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 4px;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 0.5;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
    height: 1rem;
    min-width: 2rem;
}

.cart-badge {
    bottom: 6px;
    --bs-badge-padding-x: 4px;
    --bs-badge-padding-y: 3px;
    height: 0.8rem;
    --bs-badge-font-size: 0.65rem;
    min-width: 0;
}

.description {
    max-height: 20rem;
    overflow: auto
}

.description-sm {
    max-height: 10rem;
    overflow: auto
}

.nav-link {
    font-size: 0.9rem;
}

.navbar-nav > li {
    padding-left: 1vw;
    padding-right: 1vw;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(182, 129, 88)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-brand > img {
    max-width: 11vw;
    min-width: 150px;
    display: block;
    width: 100%;
    padding: 0 24px;
}

.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divider-text:before, .divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

.img-shadow {
    box-shadow: 5px 5px 20px rgb(255, 221, 99) !important
}

.shadow-md {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075) !important;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2) !important
}

.mt-11 {
    margin-top: 5rem !important
}

.mb-n11 {
    margin-bottom: -8rem !important
}

.mw-1r {
    max-width: 1rem;
}

.mw-20r {
    max-width: 20rem;
}

.min-vh-7 {
    min-height: 7vw
}

.w-2r {
    width: 2rem;
}

.carousel-inner {
    height: 55vh;
}

.carousel-item {
    height: 100% !important
}

    .carousel-item img {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain
    }

.pt-t {
    padding-top: 0 !important;
}
