html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn {
    border-radius: var(--bs-border-radius-pill);
}

.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-info {
    text-transform: uppercase
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.color-option {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

    .color-option.bg-white {
        border: 1px solid #858585;
    }

input[type="checkbox"]:checked + .color-option, 
input[type="radio"]:checked + .color-option {
    border: 2px solid #7d1a1a;
}

.bg-yellow {
    background-color: var(--bs-yellow);
}

.bg-green {
    background-color: var(--bs-green);
}

.bg-blue {
    background-color: var(--bs-blue);
}

.bg-pink {
    background-color: var(--bs-pink);
}

.bg-black {
    background-color: var(--bs-black);
}

.bg-white {
    background-color: var(--bs-white);
}

.bg-red {
    background-color: var(--bs-red);
}

.bg-gray {
    background-color: var(--bs-gray);
}

.bg-purple {
    background-color: var(--bs-purple);
}

.bg-orange {
    background-color: var(--bs-orange);
}

.text-yellow {
    color: var(--bs-yellow);
}

.text-green {
    color: var(--bs-green);
}

.text-blue {
    color: var(--bs-blue);
}

.text-pink {
    color: var(--bs-pink);
}

.text-black {
    color: var(--bs-black);
}

.text-white {
    color: var(--bs-white);
}

.text-red {
    color: var(--bs-red);
}

.text-gray {
    color: var(--bs-gray);
}

.text-purple {
    color: var(--bs-purple);
}

.text-orange {
    color: var(--bs-orange);
}

.badge-sm {
    --bs-badge-padding-x: 10px;
    --bs-badge-padding-y: 5px;
    --bs-badge-font-size: 0.75rem;
    --bs-badge-font-weight: 400;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 4px;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 0.5;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
    height: 1rem;
}

