html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn {
    border-radius: var(--bs-border-radius-pill);
}

.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-info {
    text-transform: uppercase
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.color-option {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
}

    .color-option.white {
        border: 1px solid #858585;
    }

input[type="checkbox"]:checked + .color-option, 
input[type="radio"]:checked + .color-option {
    border: 2px solid #7d1a1a;
}

.yellow {
    background-color: var(--bs-yellow);
}

.green {
    background-color: var(--bs-green);
}

.blue {
    background-color: var(--bs-blue);
}

.pink {
    background-color: var(--bs-pink);
}

.black {
    background-color: var(--bs-black);
}

.white {
    background-color: var(--bs-white);
}

.red {
    background-color: var(--bs-red);
}

.gray {
    background-color: var(--bs-gray);
}

.purple {
    background-color: var(--bs-purple);
}

.orange {
    background-color: var(--bs-orange);
}