@model ProductsCategoriesVM
@{
	ViewData["Title"] = "Home";


}

<div class="row pt-4">
	<!-- Sidebar -->
	<aside class="col-12 col-lg-2 bg-light-gray" role="complementary" aria-labelledby="sidebar-title">
		<nav class="row gy-4 px-2">
			<h2 id="sidebar-title" class="visually-hidden">Sidebar Navigation</h2>
		</nav>
	</aside>
</div>
