@model ProductUpsertVM
@{
	ViewBag.Title = "Post New Product";
}

<section class="content-lg">
	<header class="header text-center">
		<h2 class="text-dark-primary fs-7">Post New Product <i class="bi bi-clipboard2-plus"></i></h2>
	</header>
	<div class="row text-center mt-4">
		<div class="col-8 offset-2">
			<form method="post" enctype="multipart/form-data" onsubmit="handleSubmit()">
				<fieldset class="fieldset row gy-3">
					<!-- Name -->
					<div class="form-floating col-6">
						<input asp-for="Name" class="form-control text-center" placeholder="" />
						<label asp-for="Name" class="text-center"></label>
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<!-- Category Id -->
					<div class="form-floating col-6">
						<select asp-for="CategoryId" asp-items="Model.Categories" class="form-control text-center">
							<option selected disabled>--Please select--</option>
						</select>
						<label asp-for="CategoryId" class="text-center">Category</label>
						<span asp-validation-for="CategoryId" class="text-danger"></span>
					</div>
					<!-- Price -->
					<div class="form-floating col-6">
						<input type="number" min="1" value="1" asp-for="Price" class="form-control text-center" placeholder="" />
						<label asp-for="Price" class="text-center"></label>
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>
					<!-- List Price -->
					<div class="form-floating col-6">
						<input type="number" asp-for="ListPrice" value="" class="form-control text-center" placeholder="" />
						<label asp-for="ListPrice" class="text-center">List Price (Optional)</label>
						<span asp-validation-for="ListPrice" class="text-danger"></span>
					</div>
					<!-- Product Image -->
					<div class="form-floating col-6">
						<input type="file" multiple asp-for="ImageFiles" class="form-control text-center" placeholder="" />
						<label asp-for="ImageFiles" class="text-center"></label>
						<span asp-validation-for="ImageFiles" class="text-danger"></span>
					</div>
					<!-- Colors -->
					<div class="col-6">
						<div class="d-flex align-items-center justify-content-center">
							<div class="col-4">
								<label class="form-label form-label-muted">Available Colors:</label>
							</div>
							<div class="col-6 mt-1">
								@for (int i = 1; i < Enum.GetValues(typeof(Color)).Length; i++)
								{
									Color color = (Color)Enum.GetValues(typeof(Color)).GetValue(i)!;
									<div class="d-inline-block px-1">
										<input type="checkbox" class="btn-check" name="colors" id="color@(i)" value="@color" autocomplete="off" />
										<label for="color@(i)" class="color-option bg-@color.ToString().ToLower()" title="@color"></label>
									</div>
								}
							</div>
						</div>
					</div>
					<!-- Description -->
					<div>
						<div>
							<label asp-for="Description" class="form-label form-label-muted"></label>
							<input id="Description" asp-for="Description" hidden />
							<div id="description_input" class="form-control description rounded-top-0">
								@Html.Raw(Model.Description)
							</div>
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
					</div>
					<!-- Buttons -->
					<div class="mt-4 row d-flex justify-content-center">
						<button type="submit" class="btn btn-primary btn-menu">Create</button>
						<a asp-action="Index" class="btn btn-outline-primary btn-menu">Back to List</a>
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/product_upsert.js"></script>
}