@{
	ViewBag.Title = "Product Listing";
}

<breadcrumb></breadcrumb>

<div class="row content-lg">
	<header class="header text-center" aria-labelledby="product-listing-header">
		<h2 id="product-listing-header" class="text-dark-primary fs-7">AVALORA Product Listing <i class="bi bi-list-ol" aria-hidden="true"></i></h2>
	</header>
	<div class="col-12">
		<!-- Data Table -->
		<div class="table-responsive" role="region" aria-labelledby="product-listing-header">
			<table id="dataTable" class="table table-bordered table-hover" cellspacing="0" width="100%" aria-describedby="product-listing-header">
				<caption class="visually-hidden">List of AVALORA products with details such as ID, Name, Price, Category, and Product Images</caption>
				<thead>
					<tr>
						<th class="bg-primary text-white align-middle">ID</th>
						<th class="text-center bg-primary text-white align-middle">Name</th>
						<th class="text-center bg-primary text-white align-middle">Price</th>
						<th class="text-center bg-primary text-white align-middle">Category</th>
						<th class="text-center bg-primary text-white align-middle">Product Images</th>
						<th class="text-center bg-primary text-white align-middle">Options</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts {
	<script src="~/js/product_datatable.js"></script>
}