@{
	ViewBag.Title = "Product Listing";
}

<breadcrumb></breadcrumb>

<div class="row content-lg">
	<header class="header text-center">
		<h2 class="text-dark-primary fs-7">AVALORA Product Listing <i class="bi bi-list-ol"></i></h2>
	</header>
	<div class="col-12">
		<!-- Data Table -->
		<table id="dataTable" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="bg-primary text-white">ID</th>
					<th class="text-center bg-primary text-white">Name</th>
					<th class="text-center bg-primary text-white">Price</th>
					<th class="text-center bg-primary text-white">Category</th>
					<th class="text-center bg-primary text-white">Product Images</th>
					<th class="text-center bg-primary text-white">Options</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts {
	<script src="~/js/product_datatable.js"></script>
}