@model ProductReviewResponse

<div class="my-2">
	@if (!String.IsNullOrEmpty(Model.UserName))
	{
		<strong>@Model.UserName</strong>
	}
	else
	{
		<strong>Anonymous</strong>
	}
	<small class="text-muted mb-0 d-block">@Model.DatePosted.ToString("d")</small>
	<p class="text-orange">
		@for (int i = 0; i < Model.Rating; i++)
		{
			<span class="bi bi-star-fill"></span>
		}
		@for (int i = Model.Rating; i < 5; i++)
		{
			<span class="bi bi-star"></span>
		}
	</p>
	@if (!String.IsNullOrEmpty(Model.Comment))
	{
		<textarea asp-for="@Model.Comment" class="form-control textarea-review mt-3" disabled></textarea>
	}
</div>



